<div class="mainBox">
    <h2 class="text-center">Welcome to Java Learning Center!</h2>


    <div [ngStyle]="{color:'red','background-color': 'burlywood'}">
        <span> Uses fixed red text on burlywood background </span>
    </div>
    <p class="font-weight-bold">4. NgStyle Demo</p>
    <br/><br/>
    <div>
        <span [ngStyle]="{ color: mycolor, border: myborder }" [style.font-size.px]="myfontSize" [style.border-radius.px]="myborderRadius"> 
        {{mycolor}} text with {{myfontSize}} fontSize with
        {{myborder}} Border and {{myborderRadius}} Border Radius 
      </span>
    </div>

    <br/>
    <div class="mydiv">
        <input type="text" name="mycolor" value="{{mycolor}}" #colorInput/>
    </div>
    <div class="mydiv">
        <input type="text" name="myfontSize" value="{{myfontSize}}" #fontInput/>
    </div>
    <div class="mydiv">
        <input type="text" name="myborder" value="{{myborder}}" #borderInput/>
    </div>
    <div class="mydiv">
        <input type="text" name="myborderRadius" value="{{myborderRadius}}" #radiusInput/>
    </div>
    <button (click)="apply(colorInput.value,fontInput.value,borderInput.value,radiusInput.value)">  
      Apply Setting!
    </button>

    <br/><br/>
    <p class="font-weight-bold">5. NgClass Demo</p>
    <div>
        <div>
            <input type="checkbox" [checked]="myclassList.indexOf('burlywood') > -1" (click)="changeMyCssClass(
              'burlywood')" />
            <span>BurlyWood</span>
        </div>
        <div>
            <input type="checkbox" [checked]="myclassList.indexOf('round') > -1" (click)="changeMyCssClass('round')" />
            <span>Round</span>
        </div>
    </div>
    <div class="mybox" [ngClass]="['bourlywood','round']">
        This will always have a burlywood background and round corners
    </div>
    <br/>
    <br/>
    <div class="mybox" [ngClass]="myclassList">
        This is {{myclassList.indexOf("burlywood")>-1?"":" NOT"}} burlywood and {{myclassList.indexOf("round") > -1? "":" NOT"}} round
    </div>
    <br/><br/>
    <p class="font-weight-bold">6. NgNonBindable Demo</p>
    <div class="mydiv">
        <span ngNonBindable>This is what {{welcomeMsg}} display &rarr;</span>
        <span>{{welcomeMsg}}</span>
    </div>
</div>